/* Widget definitions */

$widget-font-color: #464e57;
$widget-border-color: #959595;
$widget-control-color: #f1f2f4;
$widget-control-fontColor: #5f6268;

.architekt-widget-custom {
	display: none;
}

.architekt-widget-background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(56, 61, 79, 0.6);
	z-index: 210;

	> .architekt-widget-container {
		position: absolute;
		top: 32px;
		left: 50%;
		width: 500px;
		background-color: #fcfafa;
		margin-left: -250px;
		padding: 16px 24px;
		@include createBorderRadius(10px);
		@include createTransform(scale(0.5));
		
		&.on {
			@include createTransitionDuration(0.3s);	
			@include createTransform(scale(1.0));
		}

		> p {
			color: $widget-font-color;
			padding-bottom: 16px;
			border-bottom: 1px solid $widget-border-color;
			word-wrap: break-word;
		}
		> .architekt-widget-buttonContainer {
			padding-top: 16px;
			text-align: right;

			> button {
				margin-left: 16px;
			}
		}
	}
}

.architekt-widget-button {
	border: 1px solid $widget-border-color;
	background-color: $widget-control-color;
	color: $widget-control-fontColor;
	padding: 8px 24px;
	cursor: pointer;

	&:hover {
		background: lighten($widget-control-color, 5%);
		@include createTransitionDuration(0.3s);
	}
	&:active {
		background: lighten($widget-control-color, 20%);
		@include createBoxShadow(inset 0 1px 2px rgba(0,0,0,.25));
	}

	&.architekt-theme-confirm {
		background: $architekt-theme-confirm;
		color: #fff;

		&:hover {
			background: lighten($architekt-theme-confirm, 5%);
		}
		&:active {
			background: lighten($architekt-theme-confirm, 20%);
		}
	}

}



.architekt-dataTable-container {
	position: relative;
	cursor: pointer;

	> .architekt-dataTable-paginator {
		> .pi-table-prev {
			@include createPosition(absolute, 50%, unset, unset, -64px);
			margin-top: -16px;
		}
		> .pi-table-next {
			@include createPosition(absolute, 50%, -64px, unset, unset);
			margin-top: -16px;
		}
	}
	> .architekt-dataTable-locked {
		@include createPosition(absolute, 0, 0, 0, 0);
		background-color: rgba(0,0,0,0.5);
		
		> div {
			@include createBorderRadius(96px);
			@include createPosition(absolute, 50%, unset, unset, 50%);
			width: 96px;
			height: 96px;
			margin-top: -48px;
			margin-left: -48px;
			border: 5px dashed #fff;
			color: #fff;
			font-size: 10px;
			text-align: center;

			@include applyAnimation(webkit moz ms o, spin, 2.5s);
		}
	}
}

table.architekt-dataTable {
	width: 100%;
    border-collapse: collapse;
    cursor: default;

    &.architekt-dataTable-writable {
		> tbody > tr {
			cursor: pointer;
		}
	}

	> thead {
		> tr {
			background-color: #e3e3e3;

			> th, > td {
				padding: 12px;
				text-align: center;
				vertical-align: middle;
				border-right: 1px solid #acafb8;
				color: #4c5356;
			}
			> th:last-child, > td:last-child {
				border-right: none;
			}
		}
	}
	> tbody {
		> tr {
			background-color: #ffffff;

			&:hover {
				background-color: #D6E7F9 !important;	
			}

			> td {
				padding: 12px;
				text-align: center;
				vertical-align: middle;
				border-right: 1px solid #acafb8;
				color: #6d7477;
			}
			> td:last-child {
				border-right: none;
			}
		}
		> tr:nth-child(2n) {
			background-color: #f6f6f6;
		}
	}
}