.pi-modal {
	overflow: hidden;
}

/* Component style definitions */
.pi-container {
	position: relative;
	width: 1100px;
	margin: 0 auto;
}

.pi-button-container {
	clear: both;
	text-align: right;

	> .pi-button {
		margin-left: 8px;
	}

	&.pi-button-centralize {
		text-align: center;

		> .pi-button {
			margin: 0 4px;
		}
	}
}

$component-basic: darken(#fff, 15%);
$pi-theme-success: #82befa;
$pi-theme-confirm: #63a9ee;
$pi-theme-warning: #fff;
$pi-theme-danger: #fff;
$pi-theme-point: #e2b57a;
$pi-theme-proceed: #606986;
$pi-theme-complete: #0c69b8;
$pi-theme-waiting: #de6f6f;
$pi-theme-form: #fff;

.pi-button {
	display: inline-block;
	background-color: $component-basic;
	border: 1px solid transparent;
	text-align: center;
	color: #000;
	padding: 8px 16px;
	cursor: pointer;
	@include createBorderRadius(5px);

	&:hover {
		background-color: darken($component-basic, 15%);
	}
	&:active {
		background-color: darken($component-basic, 30%);
	}

	&.pi-theme-point {
		background-color: $pi-theme-point;
		color: #fff;

		&:hover {
			background-color: darken($pi-theme-point, 15%);
		}
		&:active {
			background-color: darken($pi-theme-point, 30%);
		}
	}

	&.pi-theme-success {
		background-color: $pi-theme-success;
		color: #fff;

		&:hover {
			background-color: darken($pi-theme-success, 15%);
		}
		&:active {
			background-color: darken($pi-theme-success, 30%);
		}
	}

	&.pi-theme-proceed {
		background-color: $pi-theme-proceed;
		color: #fff;

		&:hover {
			background-color: darken($pi-theme-proceed, 15%);
		}
		&:active {
			background-color: darken($pi-theme-proceed, 30%);
		}
	}

	&.pi-theme-confirm {
		background-color: $pi-theme-confirm;
		color: #fff;

		&:hover {
			background-color: darken($pi-theme-confirm, 15%);
		}
		&:active {
			background-color: darken($pi-theme-confirm, 30%);
		}
	}

	&.pi-theme-form {
		background-color: $pi-theme-form;
		color: #50575a;
		border: 1px solid #50575a;

		&:hover {
			background-color: darken($pi-theme-form, 5%);
		}
		&:active {
			background-color: darken($pi-theme-form, 10%);
		}
	}

	> div {
		display: inline-block;
		vertical-align: middle;
		margin-right: 4px;
	}
	> p {
		display: inline-block;
		vertical-align: middle;
	}
}

.pi-input {
	display: inline-block;
	background-color: #fff;
	color: #000;
	border: 1px solid #d2d2d2;
	padding: 8px;
	@include createBorderRadius(5px);
	@include createPlaceholder();

	&:focus {
		border-color: $pi-control-focus;
	}
}
select.pi-input {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

table.pi-table {
	width: 100%;
    border-collapse: collapse;
    cursor: default;

	> thead {
		> tr {
			background-color: #e3e3e3;

			> th, td {
				padding: 12px;
				text-align: center;
				vertical-align: middle;
				border-right: 1px solid #acafb8;
				color: #4c5356;
			}
			> th:last-child, td:last-child {
				border-right: none;
			}
		}
	}
	> tbody {
		> tr {
			background-color: #ffffff;

			&:hover {
				background-color: darken(#e3e3e3, 5%) !important;	
			}

			> td {
				padding: 12px;
				text-align: center;
				vertical-align: middle;
				border-right: 1px solid #acafb8;
				color: #6d7477;
			}
			> td:last-child {
				border-right: none;
			}
		}
		> tr:nth-child(2n) {
			background-color: #f6f6f6;
		}
	}
}

.pi-text {
	
}

.pi-theme-complete {
	color: $pi-theme-complete;
}
.pi-theme-waiting {
	color: $pi-theme-waiting;
}

.pi-info {
	display: block;
	text-align: center;
	padding: 24px;
	background-color: #d9ecff;
	@include createBorderRadius(5px);

	> h1 {
		color: #4c5356;
		font-size: 18px;
	}
	> p {
		color: #4c5356;
		font-size: 12px;
	}

	&.pi-info-inline {
		> * {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.pi-form {
	display: block;
	width: 100%;
	
	> h1 {
		font-size: 24px;
		color: #4c5356;
		padding: 8px 0;
	}
	> p {
		font-size: 12px;
		color: #4c5356;
		padding: 4px 0;
	}

	> .pi-form-control {
		margin: 16px 0;
	}
}

.pi-form-control {
	display: block;
	
	> * {
		display: inline-block;
		vertical-align: middle;
	}

	> label {
		width: 20%;
		color: #4c5356;
		text-align: right;
		margin-right: 5%;
	}
	> .pi-input {
		width: 70%;
	}
	> p {
		display: block;
		font-size: 12px;
		color: lighten(#000, 30%);
		padding: 8px 0;
		margin-left: 25%;
	}
}
.pi-form-control-inline {
	> * {
		display: inline-block;
		vertical-align: middle;
	}
}

.pi-input-required {
	color: #eb6877;
	font-size: 24px;
	margin-left: 8px;
}

.pi-form-split {
	display: block;
	clear: both;
	height: 1px;
	background-color: #e6e6e6;
	margin: 32px 0;
}

.pi-checkbox, .pi-radio {
	margin-right: 16px;

	> * {
		display: inline-block;
		vertical-align: middle;
	}

	> input[type=checkbox], > input[type=radio] {
		margin-right: 4px;
	}
	> label {

	}
}

.pi-abstract-nav {
	clear: both;
	text-align: center;

	> .pi-abstract-nav-item {
		margin: 0 24px;
		display: inline-block;
		font-size: 24px;
		color: #899397;
		border-bottom: 1px solid transparent;
		cursor: pointer;

		&.on {
			color: #0c69b8;
			border-bottom: 1px solid #0c69b8;
			font-weight: bold;
			cursor: default;
		}
	}
}




/* Widget definitions */

$widget-font-color: #464e57;
$widget-border-color: #959595;
$widget-control-color: #f1f2f4;
$widget-control-fontColor: #5f6268;

.architekt-widget-background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(56, 61, 79, 0.6);
	z-index: 210;

	> .architekt-widget-container {
		position: absolute;
		top: 32px;
		left: 50%;
		width: 500px;
		background-color: #fcfafa;
		margin-left: -250px;
		padding: 16px 24px;
		@include createBorderRadius(10px);
		@include createTransitionDuration(0.3s);
		@include createTransform(scale(0.5));

		&.on {
			@include createTransform(scale(1.0));
		}

		> p {
			color: $widget-font-color;
			padding-bottom: 16px;
			border-bottom: 1px solid $widget-border-color;
		}
		> .architekt-widget-buttonContainer {
			padding-top: 16px;
			text-align: right;

			> button {
				margin-left: 16px;
			}
		}
	}
}

.architekt-widget-button {
	border: 1px solid $widget-border-color;
	background-color: $widget-control-color;
	color: $widget-control-fontColor;
	padding: 8px 24px;
	cursor: pointer;

	&:hover {
		background: lighten($widget-control-color, 5%);
		@include createTransitionDuration(0.3s);
	}
	&:active {
		background: lighten($widget-control-color, 20%);
		@include createBoxShadow(inset 0 1px 2px rgba(0,0,0,.25));
	}

	&.architekt-theme-confirm {
		background: $architekt-theme-confirm;
		color: #fff;

		&:hover {
			background: lighten($architekt-theme-confirm, 5%);
		}
		&:active {
			background: lighten($architekt-theme-confirm, 20%);
		}
	}

}
