#pi_product {
	padding: 32px 0;

	> .pi-container {
		> .pi-button-container {
			position: relative;
			margin-bottom: 32px;
		}
	}
}

#addProduct {
	font-size: 16px;
	padding: 16px 48px;
}
#refresh {
	position: absolute;
	bottom: 0;
	left: 0;
}