#pi_ledger {
	padding: 32px 0;

	> .pi-container {
		> .pi-button-container {
			position: relative;
			margin-bottom: 32px;
		}
	}
}

#pi_ledger_total {
	padding: 16px 0;
	width: 700px;
	margin: 0 auto;	

	> h1 {
		color: #a4a9ac;
		font-size: 24px;

		> span {
			font-size: 24px;
			margin: 0 16px;
		}
	}
	> p {
		color: #a4a9ac;
		font-size: 12px;
		margin: 8px 0;
	}
}
