#pi_gnb {
	@include createPosition(fixed, 0, 0, unset, 0);
	height: 80px;
	z-index: 200;
	background-color: #fff;
	//border-bottom: 1px solid #b5b5b5;

	> .pi-container {
		height: 100%;

		> a {
			@include createPosition(absolute, 50%, unset, unset, 8px);
			height: 50px;
			margin-top: -25px;

			> img {
				height: 100%;
			}
		}

		> #pi_gnb_list {
			@include createPosition(absolute, unset, 0, 0, unset);
			overflow: hidden;

			> li {
				float: left;
				font-size: 0;

				> a {
					display: block;
					min-width: 96px;
					color: #4b5457;
					text-align: center;
					font-size: 16px;
					padding: 16px;
					border-bottom: 10px solid transparent;
					
					&.on {
						border-bottom-color: #99ccff;
					}
					&:hover {
						border-bottom-color: darken(#99ccff, 25%);
					}
				}
				> a#gnb_profile {
					> img {
						display: block;
						height: 16px;
						margin: 0 auto;
					}

					&.on, &:hover {
						border-bottom: none;
						background-color: darken(#fff, 10%);
					}
				}
			}
		}
	}
}

#pi_gnb_profile_menu {
	display: none;
	@include createPosition(absolute, 20px, 4px, unset, unset);
	z-index: 201;
	background-color: #fff;
	padding: 8px;
	cursor: default;
	border: 1px solid #959595;
	@include createBorderRadius(10px);

	> * {
		display: block;
	}
	> #profile_close {
		@include createPosition(absolute, -20px, 0, unset, unset);

		> p {
			display: inline-block;
			width: 16px;
			height: 16px;
			padding: 3px;
			color: #000;
			font-size: 10px;
			line-height: 10px;
			text-align: center;
			cursor: pointer;
			border: 1px solid #000;
			@include createBorderRadius(3px);

			&:hover {
				background-color: darken(#fff, 10%);
			}
		}
	}
	> p {
		font-size: 12px;
		margin-bottom: 8px;
		text-align: center;

		> strong {
			font-size: 12px;
			font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	> a {
		width: 80%;
		margin: 0 auto;
		padding: 4px;
		color: #000;
		text-align: center;
		cursor: pointer;
		border-bottom: 1px solid darken(#fff, 10%);

		&:hover {
			color: #4D92D8;
			border-bottom: 1px solid #acd5fe;
		}
	}
}


#pi_footer {
	background-color: #383d4f;
	width: 100%;
	padding: 24px 0;

	> .pi-container {
		overflow: hidden;

		> #pi_footer_left {
			width: 50%;
			float: left;

			> img {
				display: block;
				height: 46px;
				margin-bottom: 8px;
			}
			> ul {
				overflow: hidden;

				> li {
					float: left;

					> a {
						display: block;
						color: #fff;
						padding: 8px;
						margin-right: 8px;
						font-size: 12px;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		> #pi_footer_right {
			width: 50%;
			float: right;

			> p {
				color: #cccccc;
				font-size: 10px;
				margin-bottom: 8px;

				> a {
					font-size: 10px;
					color: #ccc;
					text-decoration: underline;
				}
			}
		}
	}
}