#pi_gnb {
	@include createPosition(fixed, 0, 0, unset, 0);
	height: 80px;
	z-index: 200;
	background-color: #fff;
	//border-bottom: 1px solid #b5b5b5;

	> .pi-container {
		height: 100%;

		> a {
			@include createPosition(absolute, 50%, unset, unset, 8px);
			height: 50px;
			margin-top: -25px;

			> img {
				height: 100%;
			}
		}

		> #pi_gnb_list {
			@include createPosition(absolute, unset, 0, 0, unset);
			overflow: hidden;

			> li {
				float: left;
				font-size: 0;

				> a {
					display: block;
					min-width: 96px;
					color: #4b5457;
					text-align: center;
					font-size: 16px;
					padding: 16px;
					border-bottom: 10px solid transparent;
					
					&.on {
						border-bottom-color: #99ccff;
					}
					&:hover {
						border-bottom-color: darken(#99ccff, 25%);
					}
				}
				> a#gnb_profile {
					> img {
						display: block;
						height: 16px;
						margin: 0 auto;
					}

					&.on, &:hover {
						border-bottom: none;
						background-color: darken(#fff, 10%);
					}
				}
			}
		}
	}
}

#pi_gnb_profile_menu {
	$opac: 0.8;

	display: none;
	@include createPosition(absolute, 80px, 4px, unset, unset);
	z-index: 201;
	background-color: rgba(255, 255, 255, $opac);
	cursor: default;
	border: 1px solid #959595;
	margin-bottom: 8px;
	@include createBorderRadius(5px);

	> * {
		display: block;
	}
	> div {
		padding: 16px;
		background-color: rgba(204, 204, 204, $opac);

		> h1 {
			font-size: 14px;
			color: lighten(#000, 20%);
		}
		> p {
			font-size: 10px;
			color: lighten(#000, 20%);
		}
	}
	> a {
		padding: 16px;
		color: #4D92D8;
		cursor: pointer;

		&:hover {
			color: darken(#4D92D8, 10%);
			background-color: rgba(170, 195, 225, $opac);
		}
	}
}

#pi_top_space {
	margin-top: 80px;
}


#pi_footer {
	background-color: #383d4f;
	width: 100%;
	padding: 24px 0;

	> .pi-container {
		overflow: hidden;

		> #pi_footer_left {
			width: 50%;
			float: left;

			> img {
				display: block;
				height: 46px;
				margin-bottom: 8px;
			}
			> ul {
				overflow: hidden;

				> li {
					float: left;

					> a {
						display: block;
						color: #fff;
						padding: 8px;
						margin-right: 8px;
						font-size: 12px;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		> #pi_footer_right {
			width: 50%;
			float: right;

			> p {
				color: #cccccc;
				font-size: 10px;
				margin-bottom: 8px;

				> a {
					font-size: 10px;
					color: #ccc;
					text-decoration: underline;
				}
			}
		}
	}
}