#pi_product, #pi_product_create {
	padding: 32px 0;

	> .pi-container {
		> h1 {
			font-size: 24px;
			color: #4c5356;
			padding: 8px 0;
			color: #0c69b8;
			font-weight: bold;
		}
		> .pi-button-container {
			position: relative;
			margin-bottom: 32px;
		}
		> .pi-form {
		    margin-left: 5%;
    		width: 90%;
		}
	}
}

#addProduct {
	font-size: 16px;
	padding: 16px 48px;
}
#refresh {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 0;
}

#createProductForm {
	margin: 16px 0;
	
	> .pi-form-control {
		width: 70%;

		> select.pi-input {
			width: 10%;
		}

		> input#amount {
			width: 45%;
		}

		> .pi-form-control-icon {
			margin-left: 8px;
			cursor: pointer;
		}
	}
}

#createProductSubmit {
    font-size: 16px;
    padding: 16px 48px;
}
#question_purchase {
	cursor: pointer;
}

#advancedControl {
	margin: 4px 0;
}
#advanced {
	color: #0c69b8;
	cursor: pointer;
}
#advanced-list {
	overflow: hidden;
	height: 0;	/* to 160px */

	> .pi-form-control {
		margin: 16px 0;
	}
}

#tool_buttons {
	> a {
		position: relative;
		display: block;
		width: 80%;
		margin: 32px auto;
		padding: 32px;
		border: 1px solid #63a9ee;
		@include createBorderRadius(20px);
		cursor: pointer;

		> h1 {
			color: #0c69b8;
			font-size: 20px;
			margin: 8px 0;
		}
		> p {
			color: #4b5457;
			font-size: 16px;
			margin: 8px 0;
		}
		> img {
			@include createPosition(absolute, 50%, 32px, unset, unset);
			height: 80px;
			margin-top: -40px;
		}

		&:hover {
			background-color: lighten(#63a9ee, 25%);
		}
	}
}


/* Page after product generated */
#pi_product_generated {
	> .pi-form {
		> #selectType {
			text-align: center;
			margin: 40px 0;

			> .pi-radio {
			    margin: 0 32px;
			}
		}

		> .pi-button-container {
			margin: 16px 0;
		}
	}
}
#pi_generated {
	@include createBorderRadius(16px);
	height: 180px;
}
#codeCopy {
	font-size: 18px;
    padding: 18px 38px;
}