#pi_profile {
	padding: 32px 0;

	> .pi-container {
		overflow: hidden;
	}
}

#profileFrm {
	margin: 16px 0;
	
	> .pi-form-control {
		width: 70%;
		clear: both;

		> label[for=settlement_currency] {
			float: left;
			height: 64px;
		}

		> .pi-radio {
			margin-bottom: 8px;

			> #currency_krw {
				color: #ed7583;
			}
			> #currency_pi {
				color: #0c69b8;
			}

			> label {
				width: 48px;
			}
			>  p {
				color: #8b8f91;
				font-size: 12px;
			}
		}
	}
}

#profileBtnSubmit {
    font-size: 16px;
    padding: 16px 48px;
}

#userPhoto {
	margin-left: 18%;

	> img {
		display: block;
		width: 100px;
		height: auto;
	}
}
#pi-ucp {
	> div {
		display: block;
		margin-top: 16px;

		> span {
			font-size: 18px;
		}
	}
	
}