* {
  padding: 0;
  margin: 0;
  font-family: 'Nanum';
  font-size: 14px;
  font-weight: normal;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
}

img {
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@font-face {
  font-family: 'Nanum';
  src: url("../../font/NanumGothic.eot");
}

@font-face {
  font-family: 'Nanum';
  src: url("../../font/NanumGothic.woff");
}

.pi-modal {
  overflow: hidden;
}

/* Component style definitions */

.pi-container {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.pi-button-container {
  clear: both;
  text-align: right;
}

.pi-button-container > .pi-button {
  margin-left: 8px;
}

.pi-button-container.pi-button-centralize {
  text-align: center;
}

.pi-button-container.pi-button-centralize > .pi-button {
  margin: 0 4px;
}

.pi-button {
  display: inline-block;
  background-color: #d9d9d9;
  border: 1px solid transparent;
  text-align: center;
  color: #000;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.pi-button:hover {
  background-color: #b3b3b3;
}

.pi-button:active {
  background-color: #8c8c8c;
}

.pi-button.pi-theme-point {
  background-color: #e2b57a;
  color: #fff;
}

.pi-button.pi-theme-point:hover {
  background-color: #d4923b;
}

.pi-button.pi-theme-point:active {
  background-color: #a06a23;
}

.pi-button.pi-theme-success {
  background-color: #82befa;
  color: #fff;
}

.pi-button.pi-theme-success:hover {
  background-color: #3898f7;
}

.pi-button.pi-theme-success:active {
  background-color: #0972da;
}

.pi-button.pi-theme-proceed {
  background-color: #606986;
  color: #fff;
}

.pi-button.pi-theme-proceed:hover {
  background-color: #404659;
}

.pi-button.pi-theme-proceed:active {
  background-color: #20232d;
}

.pi-button.pi-theme-confirm {
  background-color: #63a9ee;
  color: #fff;
}

.pi-button.pi-theme-confirm:hover {
  background-color: #1e83e6;
}

.pi-button.pi-theme-confirm:active {
  background-color: #125da6;
}

.pi-button.pi-theme-form {
  background-color: #fff;
  color: #50575a;
  border: 1px solid #50575a;
}

.pi-button.pi-theme-form:hover {
  background-color: #f2f2f2;
}

.pi-button.pi-theme-form:active {
  background-color: #e6e6e6;
}

.pi-button > div {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}

.pi-button > p {
  display: inline-block;
  vertical-align: middle;
}

.pi-input {
  display: inline-block;
  background-color: #fff;
  color: #000;
  border: 1px solid #d2d2d2;
  padding: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.pi-input::-webkit-input-placeholder {
  color: #9da6aa;
}

.pi-input:-moz-placeholder {
  color: #9da6aa;
}

.pi-input::-moz-placeholder {
  color: #9da6aa;
}

.pi-input::-ms-input-placeholder {
  color: #9da6aa;
}

.pi-input:focus {
  border-color: #63a9ee;
}

select.pi-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.pi-text {
  display: block;
  width: 100%;
  border: none;
  resize: none;
}

.pi-text.pi-text-readonly {
  cursor: default;
  background-color: #e8e8e8;
  color: #4c5356;
  padding: 24px;
  margin: 16px 0;
  word-wrap: break-word;
}

.pi-text-center {
  text-align: center;
}

.pi-text-left {
  text-align: left;
}

.pi-text-right {
  text-align: right;
}

.pi-theme-complete {
  color: #0c69b8;
}

.pi-theme-waiting {
  color: #de6f6f;
}

.pi-info {
  display: block;
  text-align: center;
  padding: 24px;
  font-size: 0;
  background-color: #d9ecff;
  color: #4c5356;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.pi-info > h1 {
  font-size: 18px;
}

.pi-info > p {
  font-size: 12px;
}

.pi-info.pi-info-inline > * {
  display: inline-block;
  vertical-align: middle;
}

.inline-seperator {
  margin: 0 8px;
}

.pi-form {
  display: block;
  width: 100%;
}

.pi-form > h1 {
  font-size: 24px;
  color: #4c5356;
  padding: 8px 0;
}

.pi-form > h2 {
  font-size: 18px;
  color: #4c5356;
  padding: 8px 0;
}

.pi-form > p {
  font-size: 12px;
  color: #4c5356;
  padding: 4px 0;
}

.pi-form > h1.emp,
.pi-form > h2.emp,
.pi-form > p.emp {
  color: #0c69b8;
  font-weight: bold;
}

.pi-form > .form-sprite-title > * {
  display: inline-block;
  vertical-align: middle;
}

.pi-form > .form-sprite-title > p {
  font-size: 18px;
  color: #4c5356;
  padding: 8px 0;
}

.pi-form > .form-sprite-title > div {
  margin-left: 4px;
}

.pi-form > .pi-form-control {
  margin: 16px 0;
}

.pi-form-control {
  display: block;
}

.pi-form-control > * {
  display: inline-block;
  vertical-align: middle;
}

.pi-form-control > div.pi-form-control-space {
  width: 20%;
  color: #4c5356;
  text-align: right;
  margin-right: 5%;
}

.pi-form-control > label {
  width: 20%;
  color: #4c5356;
  text-align: right;
  margin-right: 5%;
}

.pi-form-control > .pi-input {
  width: 60%;
}

.pi-form-control > p {
  display: block;
  font-size: 12px;
  color: #4d4d4d;
  padding: 8px 0;
  margin-left: 25%;
}

.pi-form-control-inline > * {
  display: inline-block;
  vertical-align: middle;
}

.pi-input-required {
  color: #eb6877;
  font-size: 24px;
  margin-left: 8px;
}

.pi-form-split {
  display: block;
  clear: both;
  height: 1px;
  background-color: #e6e6e6;
  margin: 16px 0;
}

.pi-checkbox,
.pi-radio {
  margin-right: 16px;
}

.pi-checkbox > *,
.pi-radio > * {
  display: inline-block;
  vertical-align: middle;
}

.pi-checkbox > input[type=checkbox],
.pi-checkbox > input[type=radio],
.pi-radio > input[type=checkbox],
.pi-radio > input[type=radio] {
  margin-right: 4px;
}

.pi-abstract-nav {
  clear: both;
  text-align: center;
}

.pi-abstract-nav > .pi-abstract-nav-item {
  margin: 0 24px;
  display: inline-block;
  font-size: 24px;
  color: #899397;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.pi-abstract-nav > .pi-abstract-nav-item.on {
  color: #0c69b8;
  border-bottom: 1px solid #0c69b8;
  font-weight: bold;
  cursor: default;
}

.sprite_basic,
.sprite-arrow-left,
.sprite-arrow-right,
.sprite-refresh,
.sprite-disk,
.sprite-question {
  width: 32px;
  height: 32px;
  background-image: url("../../image/sprites_v1.png");
  background-size: cover;
}

.sprite-arrow-left {
  background-position: 0px 0px;
}

.sprite-arrow-right {
  background-position: 0px -32px;
}

.sprite-refresh {
  background-position: 0px -64px;
}

.sprite-disk {
  background-position: 0px -96px;
}

.sprite-question {
  width: 16px;
  height: 16px;
  background-position: 0px -64px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#pi_gnb {
  position: fixed;
  top: 0;
  right: 0;
  bottom: unset;
  left: 0;
  height: 80px;
  z-index: 200;
  background-color: #fff;
  border-bottom: 1px solid #dcdee0;
}

#pi_gnb > .pi-container {
  height: 100%;
}

#pi_gnb > .pi-container > a {
  position: absolute;
  top: 50%;
  right: unset;
  bottom: unset;
  left: 8px;
  height: 50px;
  margin-top: -25px;
}

#pi_gnb > .pi-container > a > img {
  height: 100%;
}

#pi_gnb > .pi-container > #pi_gnb_list {
  position: absolute;
  top: unset;
  right: 0;
  bottom: 0;
  left: unset;
  overflow: hidden;
}

#pi_gnb > .pi-container > #pi_gnb_list > li {
  float: left;
  font-size: 0;
}

#pi_gnb > .pi-container > #pi_gnb_list > li > a {
  display: block;
  min-width: 96px;
  color: #4b5457;
  text-align: center;
  font-size: 16px;
  padding: 16px;
  border-bottom: 10px solid transparent;
}

#pi_gnb > .pi-container > #pi_gnb_list > li > a.on {
  border-bottom-color: #99ccff;
}

#pi_gnb > .pi-container > #pi_gnb_list > li > a:hover {
  border-bottom-color: #1a8cff;
}

#pi_gnb > .pi-container > #pi_gnb_list > li > a#gnb_profile > img {
  display: block;
  height: 16px;
  margin: 0 auto;
}

#pi_gnb > .pi-container > #pi_gnb_list > li > a#gnb_profile.on,
#pi_gnb > .pi-container > #pi_gnb_list > li > a#gnb_profile:hover {
  border-bottom: none;
  background-color: #e6e6e6;
}

#pi_gnb_profile_menu {
  display: none;
  position: absolute;
  top: 79px;
  right: 4px;
  bottom: unset;
  left: unset;
  z-index: 201;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: default;
  border: 1px solid #959595;
  margin-bottom: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

#pi_gnb_profile_menu > * {
  display: block;
}

#pi_gnb_profile_menu > div {
  padding: 16px;
  background-color: rgba(204, 204, 204, 0.9);
}

#pi_gnb_profile_menu > div > h1 {
  font-size: 14px;
  color: #333333;
}

#pi_gnb_profile_menu > div > p {
  font-size: 10px;
  color: #333333;
}

#pi_gnb_profile_menu > a {
  padding: 16px;
  color: #4D92D8;
  cursor: pointer;
}

#pi_gnb_profile_menu > a:hover {
  color: #2b78c7;
  background-color: rgba(170, 195, 225, 0.9);
}

#pi_top_space {
  margin-top: 80px;
}

#pi_footer {
  background-color: #383d4f;
  width: 100%;
  padding: 24px 0;
}

#pi_footer > .pi-container {
  overflow: hidden;
}

#pi_footer > .pi-container > #pi_footer_left {
  width: 50%;
  float: left;
}

#pi_footer > .pi-container > #pi_footer_left > img {
  display: block;
  height: 46px;
  margin-bottom: 8px;
}

#pi_footer > .pi-container > #pi_footer_left > ul {
  overflow: hidden;
}

#pi_footer > .pi-container > #pi_footer_left > ul > li {
  float: left;
}

#pi_footer > .pi-container > #pi_footer_left > ul > li > a {
  display: block;
  color: #fff;
  padding: 8px;
  margin-right: 8px;
  font-size: 12px;
}

#pi_footer > .pi-container > #pi_footer_left > ul > li > a:hover {
  text-decoration: underline;
}

#pi_footer > .pi-container > #pi_footer_right {
  width: 50%;
  float: right;
}

#pi_footer > .pi-container > #pi_footer_right > p {
  color: #cccccc;
  font-size: 10px;
  margin-bottom: 8px;
}

#pi_footer > .pi-container > #pi_footer_right > p > a {
  font-size: 10px;
  color: #ccc;
  text-decoration: underline;
}

#pi_main_top {
  position: relative;
  background-image: url("../../image/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 800px;
}

#pi_main_top > .pi-container {
  height: 100%;
  text-align: center;
  overflow: hidden;
}

#pi_main_top > .pi-container > #pi_main_top_text {
  padding-top: 200px;
}

#pi_main_top > .pi-container > #pi_main_top_text > * {
  margin: 8px;
}

#pi_main_top > .pi-container > #pi_main_top_text > .pi-button {
  padding: 16px 48px;
  font-size: 24px;
}

#pi_main_top > .pi-container > #pi_main_top_text > h1 {
  color: #fff;
  font-size: 32px;
  line-height: 48px;
}

#pi_main_top > .pi-container > #pi_main_top_text > p {
  color: #3b4551;
  font-size: 16px;
  cursor: pointer;
}

#pi_main_top > .pi-container > #pi_main_top_text > p:hover {
  text-decoration: underline;
}

#pi_main_top > #pi_main_top_yummy {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 800px;
  margin-left: -400px;
}

#pi_main_feature_overview {
  background-color: #fff;
}

#pi_main_feature_overview > .pi-container {
  padding: 40px 0;
  overflow: hidden;
  text-align: center;
}

#pi_main_feature_overview > .pi-container .pi_main_feature_item {
  float: left;
  width: 25%;
  font-size: 0;
}

#pi_main_feature_overview > .pi-container .pi_main_feature_item > img {
  display: block;
  width: 96px;
  margin: 0 auto;
  padding-bottom: 16px;
}

#pi_main_feature_overview > .pi-container .pi_main_feature_item > p {
  font-size: 16px;
}

.pi_main_feature {
  position: relative;
  background-color: #63a9ee;
  padding: 72px 0;
}

.pi_main_feature > .pi-container {
  overflow: hidden;
}

.pi_main_feature > .pi-container .pi_feature_texts {
  margin-top: 18px;
  float: left;
  text-align: left;
}

.pi_main_feature > .pi-container .pi_feature_texts > h1 {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 36px;
}

.pi_main_feature > .pi-container .pi_feature_texts > p {
  color: #fff;
  font-size: 18px;
}

.pi_main_feature > .pi-container > img {
  float: right;
  height: 180px;
}

.pi_main_feature.alt {
  background-color: #fff;
}

.pi_main_feature.alt > .pi-container > .pi_feature_texts {
  float: right;
  text-align: right;
}

.pi_main_feature.alt > .pi-container > .pi_feature_texts > h1 {
  color: #63a9ee;
}

.pi_main_feature.alt > .pi-container > .pi_feature_texts > p {
  color: #4a5056;
}

.pi_main_feature.alt > .pi-container > img {
  float: left;
}

#pi_main_bottom {
  clear: both;
  background-color: #e2effb;
  padding: 80px 0;
}

#pi_main_bottom > .pi-container {
  text-align: center;
}

#pi_main_bottom > .pi-container > a.pi-button {
  display: inline-block;
  margin: 0 auto;
  padding: 16px 48px;
  font-size: 24px;
}

#howThisWorkLayer {
  display: none;
  cursor: pointer;
}

#howThisWorkLayer > img {
  position: absolute;
  top: 50%;
  right: unset;
  bottom: unset;
  left: 50%;
  height: 500px;
  width: 700px;
  margin-top: -250px;
  margin-left: -350px;
}

#pi_auth {
  background-color: #f4f5f5;
  width: 100%;
  padding-top: 80px;
}

#pi_auth > .pi-container {
  height: 300px;
}

#pi_auth > .pi-container > .pi-form {
  position: absolute;
  top: 50%;
  right: unset;
  bottom: unset;
  left: 50%;
  width: 400px;
  height: 220px;
  margin-top: -110px;
  margin-left: -200px;
}

#pi_auth > .pi-container > .pi-form > h1 {
  text-align: center;
  font-size: 28px;
  color: #525a5d;
  margin-bottom: 16px;
}

#pi_auth > .pi-container > .pi-form > h2 {
  text-align: center;
  font-size: 18px;
  color: #636c70;
  margin-bottom: 16px;
}

#pi_auth > .pi-container > .pi-form > .pi-input {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

#pi_terms {
  padding: 32px 0;
}

#pi_terms > .pi-container h1 {
  font-size: 24px;
  margin: 16px 0;
}

#pi_terms > .pi-container > .pi_agreements_content {
  border: 1px solid #e6e6e6;
  padding: 12px;
  overflow: scroll;
  min-height: 300px;
}

#pi_terms > .pi-container > .pi_agreements_content > p {
  font-size: 14px;
}

#pi_terms > .pi-container > .pi-button-container {
  margin: 16px 0;
}

#agreementBtnSubmit {
  padding: 16px 48px;
  font-size: 18px;
}

#pi_profile {
  padding: 32px 0;
}

#pi_profile > .pi-container {
  overflow: hidden;
}

#profileFrm {
  margin: 16px 0;
}

#profileFrm > .pi-form-control {
  width: 70%;
}

#profileBtnSubmit {
  font-size: 16px;
  padding: 16px 48px;
}

#userPhoto {
  margin-left: 18%;
}

#userPhoto > img {
  display: block;
  width: 100px;
  height: auto;
}

#pi-ucp > div {
  display: block;
  margin-top: 16px;
}

#pi-ucp > div > span {
  font-size: 18px;
}

#pi_product,
#pi_product_create {
  padding: 32px 0;
}

#pi_product > .pi-container > h1,
#pi_product_create > .pi-container > h1 {
  font-size: 24px;
  color: #4c5356;
  padding: 8px 0;
  color: #0c69b8;
  font-weight: bold;
}

#pi_product > .pi-container > .pi-button-container,
#pi_product_create > .pi-container > .pi-button-container {
  position: relative;
  margin-bottom: 32px;
}

#pi_product > .pi-container > .pi-form,
#pi_product_create > .pi-container > .pi-form {
  margin-left: 5%;
  width: 90%;
}

#addProduct {
  font-size: 16px;
  padding: 16px 48px;
}

#refresh {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 0;
}

#createProductForm {
  margin: 16px 0;
}

#createProductForm > .pi-form-control {
  width: 70%;
}

#createProductSubmit {
  font-size: 16px;
  padding: 16px 48px;
}

#question_purchase {
  cursor: pointer;
}

#advancedControl {
  margin: 4px 0;
}

#advanced {
  color: #0c69b8;
  cursor: pointer;
}

#advanced-list {
  overflow: hidden;
  height: 0;
  /* to 160px */
}

#advanced-list > .pi-form-control {
  margin: 16px 0;
}

#tool_buttons > a {
  position: relative;
  display: block;
  width: 80%;
  margin: 32px auto;
  padding: 32px;
  border: 1px solid #63a9ee;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  cursor: pointer;
}

#tool_buttons > a > h1 {
  color: #0c69b8;
  font-size: 20px;
  margin: 8px 0;
}

#tool_buttons > a > p {
  color: #4b5457;
  font-size: 16px;
  margin: 8px 0;
}

#tool_buttons > a > img {
  position: absolute;
  top: 50%;
  right: 32px;
  bottom: unset;
  left: unset;
  height: 80px;
  margin-top: -40px;
}

#tool_buttons > a:hover {
  background-color: #d6e8fb;
}

/* Page after product generated */

#pi_product_generated > .pi-form > #selectType {
  text-align: center;
  margin: 40px 0;
}

#pi_product_generated > .pi-form > #selectType > .pi-radio {
  margin: 0 32px;
}

#pi_product_generated > .pi-form > .pi-button-container {
  margin: 16px 0;
}

#pi_generated {
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  height: 180px;
}

#codeCopy {
  font-size: 18px;
  padding: 18px 38px;
}

#pi_payment {
  padding: 32px 0;
}

#pi_payment > #pi_list > .pi-button-container {
  position: relative;
  margin-bottom: 32px;
}

#pi_product_widget > #pi_product_widget_container {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
}

#pi_product_widget > #pi_product_widget_container > #pi_product_widget_close {
  position: absolute;
  top: -40px;
  right: 0;
  bottom: unset;
  left: unset;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  padding: 8px;
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  cursor: pointer;
}

#pi_product_widget > #pi_product_widget_container > #pi_product_widget_close:hover {
  background-color: rgba(238, 238, 238, 0.5);
}

#pi_product_widget > #pi_product_widget_container > table {
  width: 100%;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  border-collapse: collapse;
}

#pi_product_widget > #pi_product_widget_container > table > tbody > tr {
  border-bottom: 1px solid #dcdcdc;
}

#pi_product_widget > #pi_product_widget_container > table > tbody > tr > td {
  padding: 16px;
}

#pi_product_widget > #pi_product_widget_container > table > tbody > tr > td h1 {
  color: #4c5356;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
}

#pi_product_widget > #pi_product_widget_container > table > tbody > tr > td p {
  color: #7f878b;
  font-size: 12px;
  margin: 2px;
}

#pi_product_widget > #pi_product_widget_container > table > tbody > tr > td:first-child {
  border-right: 1px solid #dcdcdc;
}

#pi_product_widget > #pi_product_widget_container > table > tbody > tr > td:last-child {
  border-left: 1px solid #dcdcdc;
}

#pi_product_widget > #pi_product_widget_container > table > tbody > tr > #pi_product_info div {
  margin-bottom: 24px;
}

#pi_product_widget > #pi_product_widget_container > table > tbody > tr > #pi_product_info div > h1 {
  margin: 4px;
}

#pi_product_widget > #pi_product_widget_container > table > tbody > tr > #pi_product_info div > p {
  margin: 4px;
}

#pi_product_widget > #pi_product_widget_container > table > tbody > tr > #pi_product_info > a {
  display: block;
  width: 128px;
  color: #217eda;
  font-size: 12px;
  text-decoration: none;
  padding: 8px;
}

#pi_product_widget > #pi_product_widget_container > table > tbody > tr > #pi_product_info > a:hover {
  text-decoration: underline;
}

#pi_product_widget_container {
  top: 50% !important;
}

/* refund */

#pi_refund_widget > #pi_refund_widget_container > #pi_refund_top {
  text-align: center;
  padding: 24px;
}

#pi_refund_widget > #pi_refund_widget_container > #pi_refund_top > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
}

#pi_refund_widget > #pi_refund_widget_container > #pi_refund_top > h1 {
  color: #4c5356;
  margin-right: 12px;
}

#pi_refund_widget > #pi_refund_widget_container > #pi_refund_top > p {
  color: #de6f6f;
}

#pi_refund_widget > #pi_refund_widget_container > #pi_refund_info {
  color: #8c9396;
  font-size: 12px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #dcdcdc;
}

#pi_refund_widget > #pi_refund_widget_container > #pi_refund_fields > .pi-form-control {
  margin-bottom: 12px;
}

#pi_refund_widget > #pi_refund_widget_container > #pi_refund_fields > .pi-form-control > #amount {
  width: 40%;
  margin-right: 12px;
}

#pi_refund_widget > #pi_refund_widget_container > #pi_refund_fields > .pi-form-control > #amount[readonly] {
  border-color: transparent !important;
  background-color: #fcfafa !important;
}

#pi_refund_widget > #pi_refund_widget_container > .pi-button-container > .architekt-widget-button {
  margin: 0 12px;
}

/* receipt */

#receipt_bg {
  width: 500px;
  margin: 0 auto;
}

#receipt_bg > #receipt_wrap {
  margin-top: 64px;
}

#receipt_bg > #receipt_wrap > #receipt_box {
  width: 100%;
  border: 2px solid #d2d2d2;
  border-collapse: collapse;
  cursor: default;
}

#receipt_bg > #receipt_wrap > #receipt_box > tbody > tr#receipt_hasBorder {
  border-bottom: 1px solid #e6e6e6;
}

#receipt_bg > #receipt_wrap > #receipt_box > tbody > tr > td {
  padding: 16px;
  font-size: 14px;
}

#receipt_bg > #receipt_wrap > #receipt_box > tbody > tr > td:nth-child(odd) {
  width: 25%;
  text-align: right;
  font-weight: bold;
}

#receipt_bg > #receipt_wrap > #receipt_box > tbody > tr > td:nth-child(even) {
  width: 75%;
}

#receipt_bg > #receipt_wrap > #receipt_box > tbody > tr > #receipt_title {
  font-weight: bold;
  color: #4c5356;
  font-size: 20px;
  text-align: center;
  padding: 24px;
}

#receipt_bg > #receipt_wrap > #receipt_box > tbody > tr > #receipt_bottom {
  color: #0c69b8;
  font-size: 14px;
  text-align: center;
  padding: 24px;
}

#receipt_bg > #receipt_wrap > #receipt_box > tbody > tr > #receipt_thanks {
  color: #7f878b;
  font-size: 10px;
  text-align: center;
}

#receipt_bg > #receipt_wrap > #receipt_menu {
  margin-top: 16px;
  text-align: center;
}

#receipt_bg > #receipt_wrap > #receipt_menu > span {
  padding: 4px;
  font-size: 14px;
  color: #4c5356;
}

#pi_ledger {
  padding: 32px 0;
}

#pi_ledger > .pi-container > .pi-button-container {
  position: relative;
  margin-bottom: 32px;
}

#pi_ledger_total {
  padding: 16px 0;
  width: 700px;
  margin: 0 auto;
}

#pi_ledger_total > h1 {
  color: #a4a9ac;
  font-size: 24px;
}

#pi_ledger_total > h1 > span {
  font-size: 24px;
  margin: 0 16px;
}

#pi_ledger_total > p {
  color: #a4a9ac;
  font-size: 12px;
  margin: 8px 0;
}

/* Widget definitions */

.architekt-widget-custom {
  display: none;
}

.architekt-widget-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(56, 61, 79, 0.6);
  z-index: 210;
}

.architekt-widget-background > .architekt-widget-container {
  position: absolute;
  top: 32px;
  left: 50%;
  width: 500px;
  background-color: #fcfafa;
  margin-left: -250px;
  padding: 16px 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
}

.architekt-widget-background > .architekt-widget-container.on {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}

.architekt-widget-background > .architekt-widget-container > p {
  color: #464e57;
  padding-bottom: 16px;
  border-bottom: 1px solid #959595;
  word-wrap: break-word;
}

.architekt-widget-background > .architekt-widget-container > .architekt-widget-buttonContainer {
  padding-top: 16px;
  text-align: right;
}

.architekt-widget-background > .architekt-widget-container > .architekt-widget-buttonContainer > button {
  margin-left: 16px;
}

.architekt-widget-button {
  border: 1px solid #959595;
  background-color: #f1f2f4;
  color: #5f6268;
  padding: 8px 24px;
  cursor: pointer;
}

.architekt-widget-button:hover {
  background: white;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
}

.architekt-widget-button:active {
  background: white;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.architekt-widget-button.architekt-theme-confirm {
  background: #63a9ee;
  color: #fff;
}

.architekt-widget-button.architekt-theme-confirm:hover {
  background: #7ab6f1;
}

.architekt-widget-button.architekt-theme-confirm:active {
  background: #bfdcf8;
}

.architekt-dataTable-container {
  position: relative;
  cursor: pointer;
}

.architekt-dataTable-container > .architekt-dataTable-paginator > .pi-table-prev {
  position: absolute;
  top: 50%;
  right: unset;
  bottom: unset;
  left: -64px;
  margin-top: -16px;
}

.architekt-dataTable-container > .architekt-dataTable-paginator > .pi-table-next {
  position: absolute;
  top: 50%;
  right: -64px;
  bottom: unset;
  left: unset;
  margin-top: -16px;
}

.architekt-dataTable-container > .architekt-dataTable-locked {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.architekt-dataTable-container > .architekt-dataTable-locked > div {
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -o-border-radius: 32px;
  -ms-border-radius: 32px;
  position: absolute;
  top: 50%;
  right: unset;
  bottom: unset;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-left: -16px;
  border: 2px dashed #fff;
  color: #fff;
  font-size: 10px;
  text-align: center;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2.5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: spin;
  -o-animation-duration: 2.5s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

table.architekt-dataTable {
  width: 100%;
  border-collapse: collapse;
  cursor: default;
}

table.architekt-dataTable.architekt-dataTable-writable > tbody > tr {
  cursor: pointer;
}

table.architekt-dataTable > thead > tr {
  background-color: #e3e3e3;
}

table.architekt-dataTable > thead > tr > th,
table.architekt-dataTable > thead > tr > td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #acafb8;
  color: #4c5356;
}

table.architekt-dataTable > thead > tr > th:last-child,
table.architekt-dataTable > thead > tr > td:last-child {
  border-right: none;
}

table.architekt-dataTable > tbody > tr {
  background-color: #ffffff;
}

table.architekt-dataTable > tbody > tr:hover {
  background-color: #D6E7F9 !important;
}

table.architekt-dataTable > tbody > tr > td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #acafb8;
  color: #6d7477;
}

table.architekt-dataTable > tbody > tr > td:last-child {
  border-right: none;
}

table.architekt-dataTable > tbody > tr:nth-child(2n) {
  background-color: #f6f6f6;
}